h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}
.first {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.first p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
h1 {
  font-size: 96px;
}
.first h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.about {
  padding: 160px 20px;
}

.about-content {
  margin: 30px;
}
.about h1 {
  font-size: 64px;
  line-height: 80px;
}
.about h2 {
  font-size: 18px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}
.btn-primary {
  background: #6c63ff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.description {
  padding: 120px 60px;
}
.content {
  padding: 120px 60px;
}
.content h3 {
  font-size: 24px;
  font-family: "poppins", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  margin: 20px 0 0;
}
.content p {
  font-family: "poppins", sans-serif;
  font-size: 14px;
}
.about p {
  font-family: "poppins", sans-serif;
}
@media (max-width: 960px) {
  h2 {
    font-size: 44px;
  }
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  .description {
    padding: 0;
    text-align: center;
  }
  .first {
    padding: 0;
  }
  .about {
    padding: 0;
    text-align: center;
  }
}
